---
layout: default
title: Victoria Li
---
<!-- Content
    ================================================== -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42593701-1', 'vicli.github.io');
  ga('send', 'pageview');

</script>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
          <h1 style ="border: 3px solid #81b71a; padding:20px; border-radius:25px;text-align:center;">Victoria Li</h1>
          <div class="sub-title" style = "margin-top:30px;text-align:center;font-size:20px">A coder still in diapers with an addiction to avocados and adrenaline</div>
          <div class = "contacticons" style = "text-align:center">
            <a href = "https://github.com/vicli"><img src="../img/github2.png" style = "margin-right:30px"></a><a href="https://twitter.com/vvicli"> <img src="../img/twitter2.png" style = "margin-right:30px"></a>
            <a href="www.linkedin.com/in/victoli"><img src="../img/linkedin.png" style = "margin-right:30px"></a>
            <a href="mailto:vicli@mit.edu"> <img src="../img/mail.png"></a>
          </div>

        </section>
    		<ul class="entries">
    		{% for post in paginator.posts %}
    		  <li>
    		    <a href="{{ post.url }}">
    		        <h3>{{ post.title }}</h3>
                <time>{{ post.date | date: "%d %B %Y" }}</time>
                <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      
      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

        <ul class="pages">
          <li class="page">
            {% if paginator.page == 1 %}
<!--             <span class="current-page">1</span> -->
            {% else %}
<!--             <a href="/">1</a> -->
            {% endif %}
          </li>

          {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
            <span class="current-page">{{count}}</span>
            {% else %}
            <a href="/page{{count}}">{{count}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        {% if paginator.next_page %}
        <p class="next">
          <a href="/page{{paginator.next_page}}">Next</a>
        </p>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

    </main>
  </div>

